.main-button {
  @include size(auto, 30px);
  @include radius(6px);
  @include center-flex;
  @include transition(0.3s);
  display: inline-flex;
  padding: 0 10px;
  box-shadow: 0 0 5px 0 $black-20;
  cursor: pointer;
  user-select: none;
  .text {
    @include transition(0.3s);
    font-size: 14px;
    color: $black-40;
    font-weight: 600;
    font-family: $font-face;
  }

  @each $situation, $color in $typo-situations {
    &.-#{$situation} {
      &:hover {
        @include transition(0);
        box-shadow: 0 0 8px 0 rgba($color, 0.6);
        .text {
          color: rgba($color, 0.6);
        }
        &:active {
          box-shadow: inset 0 0 4px 0 rgba($color, 0.6);
        }
      }
    }
  }
}
