.check-box {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  .input-check {
    display: none;
  }
  .switch-svg {
    .svg-icon {
      @include size(20px);
      position: absolute;
      left: 0px;
      bottom: 0;
      top: 0;
      margin: auto;
      fill: $black-40;
      &.-solid {
        fill: $primary-color;
        display: none;
      }
    }
    + .text,
    .typo-body-1 {
      margin-left: 10px;
    }
  }
  .input-check:checked {
    ~ .switch-svg {
      .svg-icon {
        &.-solid {
          display: block;
        }
        &.-outline {
          display: none;
        }
      }
    }
    ~ .text,
    .typo-body-1 {
      color: $primary-color;
    }
  }
  .input-check:disabled {
    ~ .switch-svg {
      .svg-icon {
        fill: #d6d6d6;
      }
    }
    ~ .text {
      color: #ebebeb;
    }
  }
  .text,
  .typo-body-1,
  p {
    font-weight: 600;
    color: $black-70;
    font-family: $font-face;
    font-size: $font-size + 2;
  }
  &:hover {
    border-color: $primary-color;
  }
  &.-error {
    border: 2px solid $brand-danger;
    .switch-svg {
      .svg-icon {
        fill: $brand-danger;
      }
    }
  }
}
.input-check {
  display: none;
}
