.main-button {
  @include font($typo-button-font, $typo-button-font-size, $typo-button-font-size-resp, $typo-button-font-weight);
  @include radius;
  @include transition;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  outline: none;
  border: 0;

  &.-block {
    display: block;
    text-align: center;
  }

  @include media-min(md) {
    &:hover {
    }

    &.-outline:hover {
      color: white;
    }
  }

  @include media-max(md) {
    &:active {
    }

    &.-outline:active {
      color: white;
    }
  }
}
