.text-field {
  @include size(100%, $text-field-height);
  @include font($text-field-font, $text-field-font-size, $text-field-font-size-resp, $text-field-font-weight);
  @include radius;
  padding-right: $text-field-padding-x;
  padding-left: $text-field-padding-x;
	background-color: $text-field-bg;
	border: $text-field-border-width solid $text-field-border-color;
  color: $text-field-font-color;
  outline: none;

  &:focus {
    border-color: $text-field-focus-border-color;
  }

  &.-error {
    border-color: $brand-danger;
  }
}
