.login-floor {
  @include size(100vw, 100vh);
  @include center-flex;
  .login-container {
    @include size(350px, auto);
    @include radius(6px);
    max-width: 80%;
    box-shadow: 0 0 5px 0 $black-20;
    padding: 20px;
    .form-headline {
      @include size(100%, auto);
      @include center-flex;
      flex-direction: column;
      .headline-illustration {
        @include size(120px);
        @include radius(120px);
        @include transition(0.6s);
        box-shadow: 0 0 10px 0 $black-30;
        .svg-icon {
          @include size(100%);
        }
        + .headline-title {
          margin-top: 20px;
        }
        &.-faded {
          opacity: 0;
        }
      }
      + .login-form {
        margin-top: 25px;
      }
    }
    .login-form {
      .button-select {
        @include size(100%);
        @include between-flex-y;
      }
      .text-box {
        + * {
          margin-top: 25px;
        }
      }
    }
  }
}
